@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

p {

  font-family: 'Poppins', sans-serif;

  line-height: 1.0;
  
  font-size: 15px;
  
  text-align : justify;

  background: url(FB_IMG_16372354734549347.jpg);

  -webkit-background-clip: text;

  background-attachment: fixed;

  background-repeat: no-repeat;

  -webkit-text-fill-color: rgba(255, 255, 255, 0);

  background-size: cover;
  
  -webkit-background-size: cover;

  background-position: center;

}

body {
  margin: 0;
  
  padding: 0;
  
  max-width: 1920px;
  
  max-height: 1920px;
  
  display: flex;
  
  align-items: center;
  
  justify-content: center;

  background: rgb(2, 2, 2);

  height: 300vh;

}
